html {
  font-size: 1rem;
}

@media (max-width: 575.98px) {
  h1 {
      font-size: 1.6rem;
  }
}

/* @media (max-height: 499px) {
  .footer {
      position: unset !important;
  }
} */

/* @media (min-width:768px) {
  .footer {
      position: absolute !important;
  }
} */


h1 {
  font-family: 'Montserrat', sans-serif;

}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0;

}

b {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #ffae00;
}

img.logo {
  height: 100%;
  width: 100%;
  max-width: 15vmin;
  max-height: 15vmin;
}

.footer {

  bottom: 0;
  width: 100%;
  /* height: 100%; */
  line-height: 20px;
  background-color: #739203;
  font-size: 0.9em;
  position: fixed;
  
}

.btn-group-lg>.btn,
.btn-lg {
  border-radius: 2rem !important;
}

.primarybtn {
  color: white;
  font-weight: 700;
  background-color: #ffae00 !important;
}
.yesbtn {
  color: white;
  font-weight: 700;
  background-color: #739203 !important;
  
  
}
.nobtn {
  color: white;
  font-weight: 700;
  background-color: #ff0000 !important;
}
.page{
  /* position: absolute; */
  padding-right: 1em;
  height: 100%;
  width: 100%;
}
.box{
  background-color: white;
  height: 100%;
  max-height: vh;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: #4f4e4e4d -4px 4px 30px;

}
.fade-appear,
.fade-enter{
  opacity: 0;
  transform: translateX(100vw);
  z-index: 1;
  position: absolute;
}
.fade-enter-done{
  transform: translateX(0);
  /* opacity: 1; */
  position: unset;
  transition: transform 500ms;
}
/* .fade-appear-active,
.fade-appear.fade-enter-active{
  transform: translateX(-100vw);
  
  transition: transform 5000ms;
} */
.fade-exit{
  /* opacity: 1; */
  transform: translateX(0);
  position: unset;
}
.fade-exit.fade-exit-active{
  /* opacity: 0; */
  position: absolute;
  transform: translateX(-100vw);
  transition: transform 500ms;
}